ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style: none;
  margin: 10px;
}

.fighter-card,
.fighter-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fighter-details-container {
  align-items: start;

  width: 100%;
}
.fighter-details-container span {
  margin: 0.5rem;
  text-transform: capitalize;
}
.fighter-details-container button {
  margin: 1rem auto;
}

.team-stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  width: 66%;
  margin: 2rem auto;
}

h1 {
  text-align: center;
}
